:root {
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
button {
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: var(--Very-Dark-Blue);
    font-weight: 700;
    padding: 0 1rem;
    box-shadow: 0 8px 6px -6px hsla(231, 69%, 60%, 0.459);
    border: 2px solid transparent;
    transition-duration: .3s;
    outline: none;
}
button:hover {
    border: none;
    border: 2px solid var(--Grayish-Blue);
    background-color: transparent;
    transition-duration: .3s;
}
button.blue-btn {
    color: #fff;
    background-color: var(--Soft-Blue);
    outline: none;
}
button.blue-btn:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid var(--Soft-Blue);
    color: var(--Soft-Blue);
    transition-duration: .3s;
    cursor: pointer;
}
p {
    font-size: 18px;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}
main {
    width: 80vw;
    margin: 0 auto;
}
.heading {
    color: var(--Very-Dark-Blue);
    font-size: 25px;
    margin-bottom: 2rem;
}

/* header Design ************************************************************/
header {
    width: 100vw;
    height: 16vh;
    display: flex;
}
#header-sub {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
#logo {/*Logo in header*/
    width: 30%;
    height: 100%;
    display: grid;
    align-content: center;
}
header nav {/* header navigation menu*/
    width: 70%;
    height: 100%;
    text-align: right;
}
header ul {
    width: auto;
    height: 100%;
    display: flex;
    float: right;
}
header li {
    list-style-type: none;
    margin: 0 20px;
    height: 100%;
    display: grid;
    align-content: center;
}
header a {
    text-decoration: none;
    color: var(--Very-Dark-Blue);
    transition-duration: .5s;
}
header a:hover {
    color: var(--Soft-Red);
    transition-duration: .3s;
}
#login-btn {
    background-color: var(--Soft-Red);
    padding: 10px 23px;
    color: #fff;
    border: 2px solid var(--Soft-Red);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#login-btn:hover {
    background-color: #fff;
    color: var(--Soft-Red);
}

/* HERO SECTION ********************************************** */
#hero {
    width: 100%;
    height: 70vh;
    margin-bottom: 3rem;
}
.hero-bg {
    background-color: var(--Soft-Blue);
    width: 32vw;
    height: 350px;
    position: absolute;
    z-index: -2;
    top: 42vh;
    left: 100%;
    transform: translateX(-100%);
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
}
#hero-sub {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
#hero-content {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}
#hero-content h1 {
    font-size: 60px;
    color: var(--Very-Dark-Blue);
    margin-bottom: 2rem;
}
#hero-content p {
    color: var(--Grayish-Blue);
    font-size: 18px;
    width: 70%;
    margin-bottom: 3rem;
}
#hero-img {
    width: 50%;
    height: 70vh;
    display: grid;
    align-content: center;
    justify-content: flex-end;
}
#hero-img img {
    width: 100%;
}

/* FEATURES SECTION  */
.features {
    text-align: center;
    margin-bottom: 4rem;
}
.features-bg {
    background-color: var(--Soft-Blue);
    width: 35vw;
    height: 340px;
    position: absolute;
    z-index: -2;
    left: 0;
    transform: translateY(135%);
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
}
.features p {
    width: 40%;
    margin: 0 auto;
}
.feature-tabs {
    margin-top: 3rem;
    width: 100%;
}
.feature-tabs nav {
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}
.feature-tabs nav ul {
    width: 40vw;
    display: flex;
}
.feature-tabs nav li {
    list-style-type: none;
    padding: 1.5rem 0;
    color: var(--Grayish-Blue);
    border-bottom: 1px solid hsla(228, 7%, 71%, 0.685);
    width: 33.33%;
    transition-duration: .3s;
}
.feature-tabs nav li:hover {
    cursor: pointer;
    /* background-color: rgba(238, 238, 238, 0.507); */
    color: var(--Soft-Red) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-duration: .3s;
}
.simple {
    color: var(--Very-Dark-Blue);
}
.feature-tabs .ul-border-bottom {
    width: calc(40vw / 3);
    height: 5px;
    background-color: var(--Soft-Red);
    position: relative;
    top: calc(-100% - 1px);
    transition-duration: .5s;
}
.feature-contents {
    width: 100%;
    height: 65vh;
    /* background-color: red; */
}
.features-sub {
    width: 100%;
    height: 100%;
    display: flex;
}
.features-sub-sub {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}
.features-img {
    display: flex;
    justify-content: flex-end;
}
.features-img img {
    width: 75%;
}
.features-sub-sub .heading {
    text-align: left;
    margin-bottom: 1rem;
}
.features-sub-sub button {
    width: 170px;
}
.features-sub-sub section {
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    padding-left: 4rem;
}
.features-sub-sub section p {
    text-align: left;
    width: 70%;
    margin: 0 0 2rem 0;
}
#simple {
    position: relative;
    transition-duration: .5s;
}
#speedy {
    position: relative;
    top: -100%;
    opacity: 0;
    transform: scale(0);
}
#easy {
    position: relative;
    top: -200%;
    left: 90vw;
    /* opacity: 0; */
}

/* Download the extension section */
.download-extension {
    text-align: center;
}
.download-extension p {
    width: 40%;
    margin: 0 auto;
}
.download-sub {
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    margin-top: 3rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-card {
    width: 300px;
    height: 40vh;
    background: url(images/bg-dots.svg);
    background-repeat: no-repeat;
    background-position-y: calc(40vh - calc(50px + 3rem));
    background-color: #fff;
    margin: 0 1rem;
    padding: 1.5rem;
    display: grid;
    border-radius: 15px;
    box-shadow: 0px 10px 15px 4px hsla(234, 41%, 71%, 0.294);
    position: relative;
}
.download-card img {
    margin-bottom: 2rem;
}
.download-card p {
    margin-top: .5rem;
    width: 100%;
}
.download-card button {
    width: calc(100% - 3rem);
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}
.download-card.firefox {
    margin-top: 6vh;
}
.download-card.opera {
    margin-top: 12vh;
}
.download-card.firefox::before,
.download-card.chrome::before {
    content: "";
    width: 100px;
    height: 3vh;
    background-color: var(--Soft-Blue);
    position: absolute;
    top: 18.5vh;
    left: 100%;
    z-index: -1;
}
/* styling the FAQ section */
.faq {
    text-align: center;
    margin: 10rem auto;
}
.faq p {
    width: 40%;
    margin: 0 auto;
}
.harmonica {
    width: 600px;
    height: auto;
    border-bottom: 1px solid hsla(228, 7%, 71%, 0.685);
    margin: 0 auto;
    margin-top: 3rem;
}
.harm-section {
    text-align: left;
    transition-duration: .5s;
}
.harm-head {
    width: 100%;
    padding: .7rem 0;
    border-top: 1px solid hsla(228, 7%, 71%, 0.685);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Very-Dark-Blue);
    transition-duration: .5s;
}
.harm-head:hover {
    cursor: pointer;
    color: var(--Soft-Red);
    transition-duration: .5s;
}
.harm-body {
    padding: 0;
    height: 0;
    transition-duration: .5s;
}
.harm-body p {
    margin: 0;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transition-duration: .5s;
}
.active-harm .harm-head {
    border-bottom: 1px solid hsla(228, 7%, 71%, 0.685);
    /* color: var(--Soft-Blue); */
    transition-duration: .5s;
}
.active-harm .harm-body {
    padding: 1rem 0;
    height: 100%;
    transition-duration: .5s;
}
.active-harm .harm-body p {
    margin: 0;
    width: 100%;
    opacity: 1;
    transform: scaleY(1);
    transition-duration: .5s;
}
.harm-head svg {
    transition-duration: .5s;
}
.active-harm svg {
    transform: rotateZ(180deg);
    transition-duration: .5s;
}
.active-harm svg path {
    stroke: var(--Soft-Red);
}
